<div class="row mt-5" *ngIf="http.serverData$">
    <div class="col-md-4 my-2" *ngFor="let obj of http.serverData$">
        <div class="card">
            <img src="{{obj.album.cover}}" class="card-img-top pointer" alt="..." (click)="goToDetail(obj)">
            <div class="card-body">
              <h5 class="card-title">{{obj.title}}</h5>
              <small>{{obj.duration}} Seconds</small><br>
              <small>By: {{obj.artist.name}}</small><br>
              <small>{{obj.album.title}} </small>
            </div>
        </div>
    </div>
</div>

